body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    overflow: hidden;
    font-size: 0px;
}

a {
    cursor: pointer;
}

img {
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    min-width: 400px;
    min-height: 600px;
    overflow: scroll;
}

.middle {
    display: inline-block;
    vertical-align: middle;
}

ul,
li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

section {}

.show {
    display: block;
}

.none {
    display: none;
}

.blur {
    -webkit-filter: blur(10px);
    /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.slide_model {}

.header {
    position: relative;
}

.header .header_img {
    position: absolute;
    width: 100%;
    height: 180px;
    top: 50%;
    margin-top: -90px;
    overflow: hidden;
}

.header .header_img img {
    width: 100%;
    height: 181px;
    padding: 0px;
}

.header .header_img ul li {
    white-space: nowrap;
}

.header .carousel {
    position: absolute;
    top: 64%;
    right: 7%;
}

.header .carousel .active {
    background-color: #13aff0;
}

.header .carousel span {
    background: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.header .carousel li {
    padding: 0px 3px;
}

.tabs_nav {
    height: 50px;
    color: #fff;
    width: 100%;
}

.tabs_nav li {
    padding: 0px 37px;
}

.tabs_nav li a {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    cursor: pointer;
}

.tabs_nav .active {
    background-color: #222222;
    color: #13aff0;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
}

.tabs_nav .callMe {
    background: #13aff0;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 2px;
    float: right;
    margin-top: 13.7px;
    margin-right: 20px;
    cursor: pointer;
}

.content_bg {
    background-image: url('../img/bg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 319px;
}

.wrap {
    min-width: 922px;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 23px;
    margin-top: 26px;
    overflow: hidden;
    width: 80%;
}

.con_bg {
    background: #222222;
    border-radius: 4px;
    text-align: center;
    padding: 47px 0px 16px 0px;
}

.title {
    padding: 0 20px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 300px solid #575757;
    border-right: 300px solid #575757;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    color: #13aff0;
}

.range img {
    width: 18%;
    margin-right: 47px;
}

.range img:last-child {
    margin-right: 0px;
}

.rang_img {
    padding: 35px 29px 10px 29px;
    position: relative;
}

.rang_img li {}

.rang_img li img {
    width: 22%;
    height: 271px;
    padding: 10px;
    display: inline-block;
}

.case {
    margin-top: 20px;
}

.praise {
    text-align: left;
    padding: 80px 0px;
}

.praise .praise_left {
    display: inline-block;
    width: 41%;
    margin-left: 37px;
    margin-right: 54px;
    vertical-align: middle;
}

.praise .praise_left img {
    width: 100%;
    height: 230px;
}

.praise .praise_right {
    display: inline-block;
    width: 44%;
    vertical-align: middle;
}

.praise .praise_right .praise_title {
    font-size: 16px;
    line-height: 4px;
    color: #fff;
}

.praise .praise_right .praise_detail {
    color: #d4d4d4;
    font-size: 12px;
    padding-bottom: 3px;
}

.team {
    width: 100%;
    position: relative;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.team_pop {
    background: #b5b5b5;
    color: #554d4d;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -125px;
    font-size: 14px;
    line-height: 24px;
}

.team .mask .team_pop .more_btn {
    background: #13aff0;
    color: #fff;
    border-radius: 4px;
    padding: 5px 36px;
}

.team img {
    width: 100%;
    height: 298px;
}

.about {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-align: left;
    background: #000000;
}

.about .about_left {
    width: 44%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
    margin-right: 3%;

}

.about .about_left img {
    width: 100%;
    height: 269px;
}

.about .about_right {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.about .about_right .indent {
    text-indent: 31px;
}

.about .detail {
    padding: 25px 50px;
}

.about .detail .detail_mol {
    padding-left: 31px;
}

.history {
    text-align: left;
    margin-top: 60px;
}

.history .history_left {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.history .history_right {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.history .history_left .year {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #13aff0;
    color: #fff;
    line-height: 65px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.history .history_left .year_border {
    height: 70px;
    border-left: 1px solid #13aff0;
    width: 1px;
    margin: 0 auto;
}

.teams {
    margin-top: 115px;
}

.teams a {
    background: #13aff0;
    color: #fff;
    border-radius: 4px;
    padding: 7px 28px;
    display: inline-block;
    font-size: 15px;
}

.foot {
    background: #222;
    color: #fff;
    font-size: 13px;
    padding: 20px 0px;
}

.foot .foot_model {
    width: 50%;
    border-bottom: 1px solid #616161;
    margin: 0 auto;
    text-align: center;
}

.foot .foot_model .logo {
    width: 101px;
}

.contact {
    text-align: left;
    margin-left: 34px;
}

.contact .space {
    margin-left: 10px;
}

.text_in {
    letter-spacing: 23px;
}

.product {}

.product li {
    padding-bottom: 2%;
}

.product li:last-child {
    /*padding-right: 0px;*/
}

.product li span {
    width: 21%;
    padding-right: 2%;
    display: inline-block;
}

.product li span:last-child {
    padding-right: 0px;
}

.product_case {
    margin-top: 44px;
}

.range_model {
    position: relative;
    padding-bottom: 20px;
}

.range_model li {
    width: 17%;
    margin-left: 4%;
    vertical-align: middle;
}

.range_model li:first-child {
    margin-left: 0px;
}

.range_model li img {}

.range_model .range_btn {
    background: url(../img/range/range_btn_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */
    font-size: 16px;
    padding: 17px 4px;
    color: #fff;
    margin-top: 17px;
}

.process {
    background: #11bbee;
    font-size: 12px;
    text-align: center;
    padding: 22px 0px;
    margin-bottom: 44px;
}

.process .pr_title {
    padding-bottom: 39px;
    font-size: 17px;
    font-weight: bold;
}

.process li {
    width: 19%;
}

.process .process_model {
    font-size: 0px;
}

.process .process_model p {
    font-size: 14px;
    font-weight: bold;
}

.process_sec {
    margin-top: 27px;
}

.next {
    width: 0;
    height: 0;
    border-width: 20px 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent transparent #13aff0;
    /* margin: 14px auto; */
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    position: absolute;
    top: 50%;
    margin-top: -51px;
}

#recruit {
    padding: 0px;
    font-size: 15px;
    color: #fff;
}

.recruit .learn_title {
    padding: 0 6px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 30px solid #fff;
    border-right: 30px solid #fff;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    margin-top: 46px;
}

.recruit .consult {
    padding: 65px 0px;
    font-weight: 100;
}

.contact_way li:first-child {
    border: none;
}

.contact_way li {
    width: 23%;
    padding: 34px 0px;
    position: relative;
    vertical-align: top;
}

.contact_way li img {
    vertical-align: top;
}

.split {
    border-left: 1px solid #616161;
    height: 187px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.contact_way p {
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.to {
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-left: 64px;
}

.callMe {}

.contact_pop_model {
    font-size: 12px;
    position: absolute;
    width: 350px;
    height: 200px;
    background: #ffffff;
    top:20%;
    margin-left: -175px;
    left: 50%;

}

.contact_pop_model .contact_title {
    display: inline-block;
}

.contact_pop_model .contact_detail {
    display: inline-block;
    margin-left: 6px;
}
.showAlert[data-animation=layerFadeIn] {
    animation: layerFadeIn .3s;
    -webkit-animation: layerFadeIn .3s;
    -moz-animation: layerFadeIn .3s;
    -ms-animation: layerFadeIn .3s;
    -o-animation: layerFadeIn .3s
}
.showAlert[data-animation=hideFadeIn] {
    animation: hideFadeIn .3s;
    -webkit-animation: hideFadeIn .3s;
    -moz-animation: hideFadeIn .3s;
    -ms-animation: hideFadeIn .3s;
    -o-animation: hideFadeIn .3s
}
@keyframes layerFadeIn {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}
@keyframes hideFadeIn {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        transform: scale(.5);
        opacity: 0
    }
}
.contactWay{
    width: 200px;
    height: 200px;
    background-color: #000000;
    border-radius:3px;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
    top:50%;
    left:50%
}